<div class="navbarField">
  <div class="logoName">
    <img class="logoImg" src="../../assets/images/herolo-logo.png">
  </div>
  <div class="iconField">
    <div class="homeIcon">
      <a routerLink="/" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>
    <div class="favoriteIcon">
      <a routerLink="/favorites" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-star"></span> Favorites
      </a>
    </div>
  </div>
</div>
